:root{
    --bgc:#ebebebd0;
    /*#ebebebd0, #363636d0*/
    --col: #808080;       
    /*#808080, white*/
    --bg:white;
    /*white, #160f1d*/
}
input[type="color"] {
    display: block;
    opacity: 0;
    width: 12.5vw;
    height: 12.5vw;
    border: none;
    background: none;

}

input[type="text"] {
    display: block;
    width: 12.5vw;
    background: var(--bgc);
    color: var(--col);
    border: none;
    border-radius: 0vw 0vw 1.2vw 1.2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    outline: none;
    font-size: 1vw;
}

input[type="text"]:focus {
    border: none;
    outline: none;
}

.col-picker-wrapper {
    display: inline-block;
    width: 12.5vw;
    margin: .35vw;
    border-radius: 1.2vw 1.2vw 1.2vw 1.2vw;
    transition: background 0.4s;
}

.hovfx:hover {
    transform: translateY(-1vh);
    box-shadow: 0px 3vh 2vw rgba(0, 0, 0, 0.048);
}

.hovfx {
    transition: background 0.4s,
        0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275),
        0.4s box-shadow,
        0.4s color;
}

.colors,
.settings {
    width: fit-content;
    margin: auto;
}

.settings {
    margin-top: 3vh;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.inline {
    display: inline-block;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    background: var(--bg);
    color: var(--col);
    transition: background 0.4s, color 0.4s;
}

.pos-down {
    position: relative;
    transform: translateY(.4vh);
}

i {
    transition: 0.2s transform, 0.2s color;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;

}

i:hover {
    transform: translateY(-.4vh);
}

i:active {
    transform: translateY(.4vh);
}

.icon {
    width: 5vw;
    text-align: center;
    display: inline-block;
}

.group {
    width: 35vw;
    height: 10vw;
    border-radius: 1vw;
    margin:2vw;
    overflow: hidden;
    display: inline-block;
    transition: background 0.4s,
    0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275),
    0.4s box-shadow,
    0.4s color;

}
.group:hover{
    transform: translateY(-1.5vh);
    
}

.groupNS {
    width: 35vw;
    height: 10vw;
    border-radius: 1vw;
    margin:2vw;
    overflow: hidden;
    display: inline-block;
    color:var(--col)

}
.plus{
    transform: translate(16.5vw, 4vw);
}
.plus:hover{
    transform: translate(16.5vw, 3.6vw);
    text-shadow: 0px 2vw 5vw rgba(0, 0, 0, 0.274);
}
.color {
    width: 7vw;
    height: 10vw;
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left ;
    top: 0;
    transition: 0.4s background;
}
.palettes{
    width: 80vw;
    margin: auto;
}
a{
    float: left;
}
.delete{
    position: absolute;
    transform: translate(32vw, 7vw);
    color: #ffffff62;
}
.delete:hover{
    position: absolute;
    transform: translate(32vw, 6.8vw);
    color: #ffffffa6;
}
.settingsP{
    position: absolute;
    width: 10vw;
    height: 35vw;
    border-radius: 1vw;
    color: var(--col);
    top:150vh;
    transition: top 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.settIcon{
    height: 4vw;
    width: 10vw;
    transform: translate(6vw, 5vw);
}
.settIcon i:hover{
    transform: translate(0vw, -.4vw);
}
.settIcon i:active {
    transform: translate(0vw, .4vw);
}