<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>prcptn.</title>
		<link rel="shortcut icon" href="../images/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../styles.css">
	</head>
	<body class="preload">
		<div class="cont">
			<ul class="navbar">
				<li><a href="../index.html">home</a></li>
				<li><a href="../templates.html" class="active">templates</a></li>
				<li><a href="../scripts-presets.html">scripts+presets</a></li>
				<li><a href="../graphics.html">graphics</a></li>
				<li><a href="../about.html">about</a></li>
			</ul>
			<h1 class="col-cyan" style="margin-top:6vh">"Wavy" Template</h1>
			<div style="width:35vw;">
				<div class="vidcont"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ifkaV6AQkxI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
			</div>
			<br><br>
			<button data-shoppy-product="U5fsPyR" class="btn">Purchase for $7.50</button>
			<!--<object data="images/logo.svg" type="image/svg+xml" class="logofloat"></object>-->
		</div>
		<script>
            //  onclick="this.style.setProperty('--main-color', 'var(--purple)')">
			document.body.classList.remove('preload');
		</script>
		<script src="https://shoppy.gg/api/embed.js"></script> <!-- SHOPPY EMBED SCRIPT. NEEDED FOR PAYMENT BUTTON -->
	</body>
</html>